In [1]:
ls data/

Bishayee Colony Counts 10.27.97-3.8.01.xlsx
Bishayee Coulter Counts.10.20.97-7.16.01.xlsx
Other Investigators in Lab.Colony Counts.4.23.92-11.27.02.xlsx
Other Investigators in Lab.Coulter Counts.4.15.92-5.21.05.xlsx
Outside Lab 1.Coulter Counts.6.7.91-4.9.99.xlsx
Outside Lab 2.Coulter Counts.6.6.08-7.7.08.xlsx
Outside Lab 3.Colony Counts.2.4.10-5.21.12.xlsx

In [2]:
import pandas as pd

In [31]:
rst_colony = pd.read_excel('data/Bishayee Colony Counts 10.27.97-3.8.01.xlsx', header=1)
rst_coulter = pd.read_excel('data/Bishayee Coulter Counts.10.20.97-7.16.01.xlsx', header=1)
other_colony = pd.read_excel('data/Other Investigators in Lab.Colony Counts.4.23.92-11.27.02.xlsx', header=1)
other_coulter = pd.read_excel('data/Other Investigators in Lab.Coulter Counts.4.15.92-5.21.05.xlsx', header=1)
outside_1_coulter = pd.read_excel('data/Outside Lab 1.Coulter Counts.6.7.91-4.9.99.xlsx', header=1)
outside_2_coulter = pd.read_excel('data/Outside Lab 2.Coulter Counts.6.6.08-7.7.08.xlsx', header=1)
outside_3_colony = pd.read_excel('data/Outside Lab 3.Colony Counts.2.4.10-5.21.12.xlsx', header=1)

In [32]:
all_data = [rst_colony, rst_coulter, other_colony, other_coulter, outside_1_coulter, outside_2_coulter, outside_3_colony]

In [33]:
for df in all_data: 
    print(df.head(5))
    print('-------------------------------------------------------')

   ISOTOPE  Bate # B0/B00       Date  col1  col2 col3    average
0     131I           8405 1997-10-27    78    91   93  87.333333
1  no DMSO           8405 1997-10-27    90    88   90  89.333333
2      NaN           8405 1997-10-27    80    66   69  71.666667
3      NaN           8405 1997-10-27    63    67   71  67.000000
4      NaN           8405 1997-10-27    44    58   64  55.333333
-------------------------------------------------------
     Bates       Date  Count 1  Count 2  Count 3     Average
0  B008404 1997-10-20      531      508    541.0  526.666667
1  B008404 1997-10-20      650      626    595.0  623.666667
2  B008404 1997-10-20      460      455    468.0  461.000000
3  B008404 1997-10-20      550      530    538.0  539.333333
4  B008404 1997-10-20      466      468    452.0  462.000000
-------------------------------------------------------
  Bates # B00 or B0       Date Inv  col1   col2 col3     average
0               NaN 1992-04-23   I   266  247.0  262  258.333333
1               NaN 1992-04-23   I   170  151.0  156  159.000000
2               NaN 1992-04-23   I    66   66.0   56   62.666667
3               NaN 1992-04-23   I    22   13.0   27   20.666667
4               NaN 1992-04-23   I     1    1.0    4    2.000000
-------------------------------------------------------
  Bates No.       Date  Coul 1  Coul 2  Coul 3      Average Investigator
0       NaN 1992-04-15  1547.0  1574.0  1523.0  1548.000000            I
1       NaN 1992-04-15  1617.0  1552.0  1570.0  1579.666667            I
2       NaN 1992-04-15  1258.0  1279.0  1284.0  1273.666667            I
3       NaN 1992-04-15  1273.0  1313.0  1286.0  1290.666667            I
4       NaN 1992-04-15  1071.0  1044.0  1044.0  1053.000000            I
-------------------------------------------------------
  Exp 1  2266  2321    2192  2259.6666666666665 1991-06-07 00:00:00
0   NaN   676   554   478.0          569.333333                 NaN
1   NaN   601   723   520.0          614.666667                 NaN
2   NaN   582   516   881.0          659.666667                 NaN
3   NaN  3200  2719  3747.0         3222.000000                 NaN
4   NaN   425   626   785.0          612.000000                 NaN
-------------------------------------------------------
       Date  Count 1  Count 2  Count 3      Average
0  6.6.2008     5868     5838     5691  5799.000000
1       NaN     3451     3343     3315  3369.666667
2       NaN     4844     4854     4695  4797.666667
3   6.10.08     4851     4549     4532  4644.000000
4       NaN     3010     3018     2982  3003.333333
-------------------------------------------------------
        date  c1  c2  c3    average
0 2010-02-04  54  55  59  56.000000
1        NaT  47  60  47  51.333333
2 2010-02-05  55  60  53  56.000000
3        NaT  58  54  59  57.000000
4        NaT  17  17  15  16.333333
-------------------------------------------------------

In [44]:
rst_colony['Minimum'] = rst_colony.loc[:, ['col1', 'col2', 'col3']].min(axis=1)
rst_colony['Maximum'] = rst_colony.loc[:, ['col1', 'col2', 'col3']].max(axis=1)

In [45]:
pd.to_numeric(rst_colony[] , errors='coerce')
rst_colony.head(50)

,ISOTOPE,Bate # B0/B00,Date,col1,col2,col3,average,Minimum,Maximum
0,131I,8405,1997-10-27,78,91,93,87.333333,78,91
1,no DMSO,8405,1997-10-27,90,88,90,89.333333,88,90
2,NaN,8405,1997-10-27,80,66,69,71.666667,66,80
3,NaN,8405,1997-10-27,63,67,71,67.000000,63,67
4,NaN,8405,1997-10-27,44,58,64,55.333333,44,58
5,NaN,8405,1997-10-27,38,53,51,47.333333,38,53
6,NaN,8405,1997-10-27,247,264,258,256.333333,247,264
7,NaN,8405,1997-10-27,46,24,27,32.333333,24,46
8,NaN,8405,1997-10-27,64,63,61,62.666667,63,64
9,NaN,8405,1997-10-27,77,82,98,85.666667,77,82
10,131I,8433,1997-11-24,115,98,109,107.333333,98,115
11,NaN,8433,1997-11-24,87,95,98,93.333333,87,95
12,NaN,8433,1997-11-24,41,31,38,36.666667,31,41
13,NaN,8433,1997-11-24,146,155,178,159.666667,146,155
14,NaN,8433,1997-11-24,112,105,104,107.000000,105,112
15,NaN,8433,1997-11-24,117,143,136,132.000000,117,143
16,NaN,8433,1997-11-24,117,133,114,121.333333,117,133
17,NaN,8433,1997-11-24,38,57,53,49.333333,38,57
18,NaN,8433,1997-11-24,170,171,176,172.333333,170,171
19,NaN,8433,1997-11-24,102,108,,105.000000,102,108
20,131I,8445,1997-12-01,74,100,79,84.333333,74,100
21,no match,8445,1997-12-01,85,90,70,81.666667,85,90
22,NaN,8445,1997-12-01,38,32,44,38.000000,32,38
23,NaN,8445,1997-12-01,28,41,26,31.666667,28,41
24,NaN,8445,1997-12-01,28,29,27,28.000000,28,29
25,NaN,8445,1997-12-01,103,91,123,105.666667,91,103
26,NaN,8445,1997-12-01,114,120,103,112.333333,114,120
27,NaN,8445,1997-12-01,26,25,24,25.000000,25,26
28,NaN,8445,1997-12-01,160,162,170,164.000000,160,162
29,NaN,8445,1997-12-01,104,103,100,102.333333,103,104
30,131I,8458,1997-12-15,68,55,61,61.333333,55,68
31,NaN,8458,1997-12-15,66,61,65,64.000000,61,66
32,NaN,8458,1997-12-15,39,36,38,37.666667,36,39
33,NaN,8458,1997-12-15,53,50,47,50.000000,50,53
34,NaN,8458,1997-12-15,100,96,98,98.000000,96,100
35,NaN,8458,1997-12-15,62,68,77,69.000000,62,68
36,NaN,8458,1997-12-15,58,58,59,58.333333,58,58
37,NaN,8458,1997-12-15,30,35,37,34.000000,30,35
38,NaN,8458,1997-12-15,46,48,44,46.000000,46,48
39,NaN,8458,1997-12-15,83,95,87,88.333333,83,95
40,131I,8468,1997-12-19,68,68,67,67.666667,68,68
41,NaN,8468,1997-12-19,57,62,64,61.000000,57,62
42,NaN,8468,1997-12-19,40,32,38,36.666667,32,40
43,NaN,8468,1997-12-19,50,48,52,50.000000,48,50
44,NaN,8468,1997-12-19,112,100,93,101.666667,100,112
45,NaN,8468,1997-12-19,53,64,65,60.666667,53,64
46,NaN,8468,1997-12-19,58,49,57,54.666667,49,58
47,NaN,8468,1997-12-19,27,28,30,28.333333,27,28
48,NaN,8468,1997-12-19,40,38,36,38.000000,38,40
49,NaN,8468,1997-12-19,82,78,83,81.000000,78,82

In [47]:
rst_colony.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1362 entries, 0 to 1361
Data columns (total 9 columns):
ISOTOPE          132 non-null object
Bate # B0/B00    1362 non-null int64
Date             1362 non-null datetime64[ns]
col1             1362 non-null int64
col2             1362 non-null int64
col3             1362 non-null object
average          1362 non-null float64
Minimum          1362 non-null int64
Maximum          1362 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 95.8+ KB